.s-about
  padding-top: 15vh

  img
    box-shadow: 5px 5px 0px 0px rgba($black, 0.15)

  @include respond-to("bp--1")
    section
      padding: 0 0 $b-space-l

      &.s-about--intro
        padding-top: $b-space-xl

      h3
        margin-bottom: $b-space-xs

.s-about--intro
  img
    @include respond-to("bp--1")
      display: block
      margin: 0 auto $b-space-l
      max-width: rem(420)
      width: 100%

  p
    margin-top: $b-space-xs

.s-about--title
  @include respond-to("bp--1")
    margin-bottom: $b-space-xs

.s-about--clients
  img
    box-shadow: none
    max-width: rem(150)

    &.small
      max-width: rem(70)

  @include respond-to("bp--1")
    text-align: center

    li
      margin: $b-space $b-space 0

    img
      max-width: rem(100)

      &.small
        max-width: rem(50)

