*, ::after, ::before
  box-sizing: border-box

body
  background: $smoke-white
  color: $black

  &.nav--open
    height: 100vh
    overflow: hidden

a
  color: inherit
  text-decoration: none

header,
footer
  @include display(flex)
  @include align-items(center)
  @include justify-content(center)
  background: $black-olive
  height: 25vh
  min-height: rem(199)
  width: 100%

  @include respond-to("bp--0")
    height: 15vh
    min-height: 0

header
  @include transition(height .75s ease-out, min-height .75s ease-out)

  &.is-redux
    height: 15vh
    min-height: 0

    h1
      font-size: rem(48)
      letter-spacing: rem(-1)

    @include respond-to("bp--0")
      h1
        font-size: rem(30)
        letter-spacing: rem(-0.63)

      strong
        font-size: rem(20)
        letter-spacing: rem(-0.42)

  &.pof
    left: 0
    top: 0
    z-index: $stratum-top

  &[data-page="project"]
    background: $tufts-blue

  &[data-page="about"]
    background: $verdigris

  @include respond-to("bp--0")
    @include justify-content(space-between)

    .l-nav--trigger
      @include transform(translateY(0))
      margin-left: $b-space-xs
      position: static

img
  max-width: 100%

  &[data-featherlight]
    cursor: zoom-in

.l-header--logo
  h1, strong
    @include transition(font-size .75s ease-out, letter-spacing .75s ease-out)
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, $smoke-white 50%)
    background-position: -99.99% 0
    background-size: 200% auto

  h1
    font-size: rem(54)
    letter-spacing: rem(-1.12)

  strong
    font-size: rem(24)
    font-style: italic
    letter-spacing: rem(-0.5)
    margin-right: rem(-0.1)

  @include respond-to("bp--0")
    margin-right: $b-space-xs

    h1
      font-size: rem(30)
      letter-spacing: rem(-0.63)

    strong
      font-size: rem(20)
      letter-spacing: rem(-0.42)

.l-nav--trigger
  @include transform(translateY(-50%))
  cursor: pointer
  left: $b-space-xs
  top: 50%

  @include respond-to("bp--1")
    display: block

  span
    color: $smoke-white
    font-family: $font-family-heading
    font-size: rem(14)
    font-style: italic
    font-weight: $font-weight-black

  i
    font-size: rem(38)
    line-height: 1

  .hamburger
    li
      background: $smoke-white
      height: rem(3)

  @include respond-to("bp--0")
    i
      font-size: rem(30)

    span
      font-size: rem(11)

footer
  ul li
    &:first-child
      border-right: rem(2) solid $smoke-white